/* -- FARGE TEMA -- */
.info-container {
    --info-container-bg: #466060;
    --info-container-boxes: white;
    --pokenum-bg: rgba(3, 76, 140, 1);
}


/* PAGE CONTAINER */
.container {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
}


/* PAGE HEADER */
header.info-header-container {
    width: 60vw;
    margin: 0 auto;
    padding: 10px 0;
}

.back-button-container {
    font-size: 24px;
    display: flex;
    align-items: center;
}

a.back-button-link {
    text-decoration: none;
}

a div.back-button-container span {
    color: black;
}

a div.back-button-container:hover span {
    color: rgb(58, 140, 151);
}

/* INFO SECTION */
.info-container {
    width: 60vw;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    background-color: var(--info-container-bg);
}


/* TOP INFO */
.top-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    height: 300px;
}

.image {
    background-color: var(--info-container-boxes);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    width: 80%;
    height: auto;
}
@media only screen and (min-width: 1600px) {
    .image img {
        width: 60%;
    }
}

.basic-info {
    background-color: var(--info-container-boxes);
    padding: 10px;
}

.name-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pokename {
    font-size: 2em;

}

.pokenum {
    text-align: center;
    color: white;
    font-size: 1.2em;
    height: 3em;
    width: 3em;
    background-color: var(--pokenum-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.more-info {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
}

.more-info span:last-of-type {
    margin-left: 30px;
}

.types {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.types span .typeIcon {
    height: 50px;
    width: 50px;
}

.type-icon:last-of-type {
    margin-left: 10px;
}

.all-ratings-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

/* .personal-rating-container {

}

.aggregated-rating-container {

} */


/* MIDDLE INFO */
.middle-container {
    width: 100%;
    margin: 10px auto;
    background-color: var(--info-container-boxes);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: 400;
}

.middle-container span {
    padding: 35px;
}


/* --BOTTOM INFO-- */
.bottom-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 400px;
}

/* STATS - LEFT SIDE */
.stats {
    background-color: var(--info-container-boxes);
    padding: 20px 30px;
    font-size: 1.2em;
    font-weight: 500;
}

.stats-table {
    background-color: rgb(248, 248, 248);
    width: 100%;
}

.stats-table tr, .stats-table td {
    border-bottom: solid lightgrey 1px;
    padding: 8px 20px;
}

.stats-table tr:last-of-type, .stats-table td {
    border-bottom: none;
}

.stats-table tr:last-of-type {
    background-color: var(--pokenum-bg);
    color: white;
}

.stats-table td:nth-of-type(2) {
    text-align: right;
}

.stats-column {
    display: flex;
    flex-direction: column;
}

/* ABILITIES - RIGHT SIDE */
.abilities {
    background-color: var(--info-container-boxes);
    padding: 20px 30px;
    font-size: 1.2em;
    font-weight: 500;
}

.ability-list {
    display: flex;
    flex-direction: column;
}

.ability-list span {
    padding-bottom: 10px;
    font-size: 1em;
    font-weight: 400;
}



/* --MEDIA QUERIES-- */
@media only screen and (max-width: 900px) {
    .top-container {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .bottom-container {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .image img {
        width: 70%;
    }
}
@media only screen and (max-width: 480px) {
    .info-container{
        width: 90vw;
    }
}